<!doctype html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        {{ partial "header.includes.html" . }}
    </head>
    <body>
        <header>
            {{ partial "navbar.html" . }}
        </header>

        <main>
            <article>
                <p>
                    <strong>Blog Post Archive</strong>
                </p>

                <ol>
                    {{ range .Data.Pages }}
                        {{ .Render "li" }}
                    {{ end }}
                </ol>
            </article>

            <aside>
	            {{ partial "menu.html" . }}
            </aside>
        </main>
        
        <footer>
            {{ range .Data.Pages }}
                {{ if eq .Type "footer" }}
                    <section>{{ .Content }}</section>
                {{ end }}
            {{ end }}
            {{ partial "footer.includes.html" . }}
        </footer>
    </body>
</html>
