* {
    box-sizing: inherit;
    color. inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

* + * {
    margin: 1.25rem 0.5rem 0 0.5rem;
}

a + a {
    margin: 0;
}

li + li {
    padding-bottom: 1em;
}

body, br, li, dt, dd, th, td, option {
      margin-top: 0;
}

body {
    line-height: 1.5;
}

a {
    display: inline-block;
    padding: 0 0.25em;
}

a[href$='.jpg'],
a[href$='.png'] {
    display: block;
}

article,
aside > * {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer hr ~ p {
    text-align: center;
}

h2 span,
h3 span {
    display: block;
}

hr {
    display: block;
    margin: 1em auto;
    width: 90%;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

li li:first-child {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin-top: 35px;
}

main h1,
main h2,
main h3,
main h4 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

main article,
main aside {
    flex: 1 0 auto;
    max-width: 100%;
}

@media (min-width:641px) {
    main article {
        flex: 2 1 0;
    }

    main aside {
        flex: 1 1 0;
    }
}

section:first-child h1 {
    display: inline-block;
}

h1[id^=sabayon-linux] ~ p a {
    box-sizing: border-box;
    display: inline-block;
    min-height: 45px;
    padding-top: 10px;
    vertical-align: bottom;
}

main h1 ~ p {
    display: inline-block;
}

nav {
    height: auto;
    min-height: 35px;
    position: relative;
}

nav.plus.open ul {
    height: auto;
}

nav.open ul li {
    display: block;
}

nav ul {
    min-height: 35px;
    max-height: 100%;
    margin-right: 53px;
    vertical-align: bottom;
}

nav.plus ul {
    height: 43px;
    margin-top: 0;
    min-height: 0;
    overflow: hidden;
}

nav > a {
    display: inline-block;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    width: 153px;
}

p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

section {
    min-height: 87vh;
    min-width: 100%;
    max-width: 100%;
}

article section {
    min-height: 0;
}

footer section {
    min-height: 0;
}

section ul,
section ul li + li {
    margin: 0;
}

nav ul,
section ul,
article ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

nav ul li:first-child {
    margin-left: 153px;
}

nav ul li,
section ul li {
    flex: 1 0 auto;
    text-align: center;
}

/* Power of quantity queries!
 * http://alistapart.com/article/quantity-queries-for-css
 */
section li:nth-last-child(2):first-child,
section li:nth-last-child(2):first-child ~ li {
    flex-basis: 50%;
}

section li:nth-last-child(3):first-child,
section li:nth-last-child(3):first-child ~ li,
section li:nth-last-child(6):first-child,
section li:nth-last-child(6):first-child ~ li {
    flex-basis: 33%;
}

section li:nth-last-child(4):first-child,
section li:nth-last-child(4):first-child ~ li {
    flex-basis: 50%;
}

section li:nth-last-child(8):first-child,
section li:nth-last-child(8):first-child ~ li {
    flex-basis: 100%;
}

@media (min-width:564px) {
    section li:nth-last-child(4):first-child,
    section li:nth-last-child(4):first-child ~ li,
    section li:nth-last-child(8):first-child,
    section li:nth-last-child(8):first-child ~ li {
        flex-basis: 25%;
    }
}

section ul li p {
    text-align: left;
}

nav ul li a {
    display: block;
    height: 100%;
    padding-top: calc((35px - 1em) / 2);
}

ul ul {
    display: flex;
    flex-flow: column wrap;
}

ul ul li,
ul ul li + li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    border-radius: 0;
    position: fixed;
    top: 0;
    transform: translateY(0%);
    width: 100%;
    z-index: 1000;
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.more-links {
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0.5rem;
}

a[href='http://dl.sabayon.org/iso/daily/daily.html']::before,
a[href$='.iso']::before,
a[href$='.img.xz']::before,
a[href='https://hub.docker.com/r/sabayon']::before,
a[href='https://atlas.hashicorp.com/Sabayon/boxes/spinbase-amd64']::before,
a[href='https://www.facebook.com/groups/36125411841']::before,
a[href='https://plus.google.com/+sabayon']::before {
    display: inline-block;
    margin-right: 0.2em;
}

a[href$='/donate'] {
    border: 2px solid inherit;
    border-radius: 3px;
    display: inline-block;
    padding: 1px 5px;
}

a[href$='/donate']::before,
a[href$='/donate']::after,
a[href$='/cloud']::before,
a[href$='/desktop']::before,
a[href$='/server']::before,
a[href='http://dl.sabayon.org/iso/daily/daily.html']::before {
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    border-radius: 0;
    vertical-align: middle;
}

a[href$='/donate']::before {
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

a[href$='/donate']::after,
a[href$='/donate']::after {
    content: "";
    margin-right: 0;
}

h4[id^=vagrantcloud] a::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 a::before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px; /* 110px height - 10px padding-top - 10px padding-botttom */
    content: " ";
    display: block;
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 16px;
    border-radius: 35px;
    box-sizing: border-box;
    vertical-align: top;
}

article section h4 a::before {
    display: inline;
}

article li li a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1px 5px;
    border: 2px solid inherit;
    border-radius: 3px;
}

article li li a::before {
    display: inline-block;
    margin-right: 0.2em;
}

img[src$='fluxbox-logo.png'],
img[src$='gnome-logo.png'],
img[src$='kde-logo.png'],
img[src$='mate-logo.png'],
img[src$='sabayon-server.png'],
img[src$='xfce-logo.png'] {
    max-width: 110px;
}

ol ul ul {
    list-style-type: circle;
}

ol ul ul li {
    list-style-image: url("/img/bullet.png");
    margin: 0.1em 0 0.1em 1em;
}

ol ul h4 {
    margin-bottom: 0;
}

img[src*='/flags/'] {
    height: 128px;
    width: 128px;
}
